*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

    
}

body{
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('background6.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    margin-top: 100px;
    padding-bottom: 100px;
}

main h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    color: transparent;
    background-color: #b3b3b3;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.container__box{
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.box{
    width: 50px;
    height: 50px;
    background: transparent;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.5);
    
}

.box:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
    background: #e900801f;
    z-index: 1;
    border-radius: 20px;
}

.box i{
    font-size: 30px;
    color: rgb(248, 204, 215);
}

.box:hover i{
    color: #ffffff;
}

.box h5{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #dbdbdb;
}

.box:hover h5{
    color: #fff;
    opacity: 0;
}

.box h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: 50px;
    filter: blur(5px);
    opacity: 1;
}

.box:hover h4{
    font-size: 14px;
    opacity: 1;
    filter: blur(0px);
    color: #fff;
    transition: all 600ms ease;
}